name: A workflow for my Hello World App
on: push

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'  # Updated distribution
          java-version: '17'

      - name: Build with Maven
        run: mvn clean package   # This creates the JAR in target/

      - name: Build Docker Image
        run: docker build -t devopsimage .

      - name: Run image
        run: docker run --name devopscontainer -d devopsimage

      - name: View logs
        run: docker logs devopscontainer
